import /init.recovery.project.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 0
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop crypto.ready 1

on early-fs
    start vold

on fs && property:ro.debuggable=0
    write /sys/class/udc/musb-hdrc/device/cmode 2
    start adbd

on fs
    install_keyring
    wait /dev/block/platform/soc/11270000.ufshci
    symlink /dev/block/platform/soc/11270000.ufshci /dev/block/bootdevice

on post-fs
    start boot-hal-1-2

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b

on boot
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

on property:hwservicemanager.ready=true
    start mobicore
    start vendor.gatekeeper-1-0
    start vendor.keymint-trustonic

on property:ro.crypto.state=unsupported
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on property:twrp.decrypt.done=true
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on property:crypto.ready=0
    stop mobicore
    stop vendor.gatekeeper-1-0
    stop vendor.keymint-trustonic

on post-fs-data
    mkdir /data/vendor_de 0770 system system
    mkdir /data/vendor_de/0 0770 system system
    mkdir /data/vendor_de/0/cryptoeng 0770 system system
    start health-hal-2-1
    setprop sys.usb.config adb

service vold /system/bin/vold \
        --blkid_context=u:r:blkid:s0 --blkid_untrusted_context=u:r:blkid_untrusted:s0 \
        --fsck_context=u:r:fsck:s0 --fsck_untrusted_context=u:r:fsck_untrusted:s0
    class core
    ioprio be 2
    shutdown critical
    group root reserved_disk
    seclabel u:r:recovery:s0

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0

service mobicore /vendor/bin/mcdriverdaemon
    class core
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymint-trustonic /vendor/bin/hw/android.hardware.security.keymint-service.trustonic
    class early_hal
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user nobody
    seclabel u:r:recovery:s0
